# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
# *.lai
# *.la
# *.a

# QT IDE files
*.pro.user

# MSVC IDE files
*.sdf
*.opensdf
*.suo
*.vcxproj.user

# Output Files
*.vtu
*.plt

# Other files
*.aux
*.synctex.gz
*.log
